<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <nav class="main-nav">
      <%- include('./partials/header.ejs') %>
    </nav>
    <div class="index-duration-container">
        <h3>Workouts</h3>
    </div>
      <div class="main-container">
        <% for(let i = 0; i < workouts.length; i++) { %>
          <div class="workout-container">
            <div class="workout-title">
              <h2><a href="/homefit/<%= workouts[i].id %>"><%= workouts[i].title %></a></h2>
            </div>
            <div class="workout-duration">
              <h2><%= workouts[i].duration %></h2>
            </div>
            <div class="index-video">
              <iframe src="<%= workouts[i].video %>" frameborder="0" allow="encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        <% } %>
      </div>
  </body>
</html>
