<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <nav class="main-nav">
      <%- include('./partials/header.ejs') %>
    </nav>
    <div class="">
      <div class="duration-container">
        <div class="index-duration-title">
          <h3>Workouts</h3>
        </div>
        <div class="index-duration-selector">
          <div class="duration-link">
            <a href="/homefit/10min">10 minute</a>
          </div>
          <div class="duration-link">
            <a href="/homefit/20min">20 minute</a>
          </div>
          <div class="duration-link">
            <a href="/homefit/30min">30 minute</a>
          </div>
        </div>
      </div>
      <div class="main-container">
        <% for(let i = 0; i < workouts.length; i++) { %>
          <div class="workout-container">
            <div class="workout-title">
              <h2><a href="/homefit/<%= workouts[i].id %>"><%= workouts[i].title %></a></h2>
            </div>
            <div class="workout-duration">
              <h2><%= workouts[i].duration %></h2>
            </div>
            <div class="index-video">
              <iframe src="<%= workouts[i].video.replace(/watch\?v\=/, 'embed/') %>" frameborder="0" allow="encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
